/* .dropdown {
  display: block;
  width: 100%;
} */

.dropdown .dropdown-content {
  margin-top: 50px !important;
  width: 13rem !important;
}

.button__style {
  background: linear-gradient(
    87.44deg,
    #4c63f1 1.94%,
    #7d32eb 103.28%
  ) !important;
  transition: all 0.3s ease-in-out;
}
.button__style:hover {
  background: linear-gradient(87.44deg, #fff 1.94%, #fff 103.28%) !important;
  color: #4c63f1;
}
.shape__top {
  background: linear-gradient(87.44deg, #4c63f1 1.94%, #7d32eb 103.28%);
  /* opacity: 0.5; */
  filter: blur(300px);
}
.shape__bottom {
  background: linear-gradient(87.44deg, #4c63f1 1.94%, #7d32eb 103.28%);
  /* opacity: 0.3; */
  filter: blur(300px);
}

.text__style {
  background: linear-gradient(87.44deg, #4c63f1 1.94%, #7d32eb 103.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.club__net__bg {
  background: linear-gradient(87.44deg, #4c63f1 1.94%, #7d32eb 103.28%);
}

.Reward__system {
  background: linear-gradient(87.44deg, #4c63f1 1.94%, #7d32eb 103.28%);
  /* opacity: 0.4; */
  filter: blur(300px);
  border-radius: 50%;
}

.Reward__system__bottom {
  background: linear-gradient(
    103.69deg,
    #4c63f1 4.31%,
    #4964ee 40.87%,
    #7d32eb 74.24%
  );
  mix-blend-mode: normal;
  border: 1px solid #000000;
  filter: blur(300px);
}
.reward__system__items {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(27px);
  border-radius: 20px;
}

/* Accordion */

details summary::-webkit-details-marker {
  display: none;
}

details[open] summary {
  background: #100f11;
  color: #b4b5bd;
}

details[open] summary::after {
  content: "-";
}

details[open] summary ~ * {
  animation: slideDown 0.3s ease-in-out;
}

details[open] summary p {
  opacity: 0;
  animation-name: showContent;
  animation-duration: 0.6s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  margin: 0;
}

@keyframes showContent {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: auto;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  to {
    opacity: 1;
    height: auto;
  }
}

/* slider css */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider__item {
  height: 440px !important;
  background: linear-gradient(
    87.44deg,
    rgba(77, 99, 241, 0.1) 1.94%,
    rgba(125, 50, 235, 0.1) 103.28%
  ) !important;
  border-radius: 30px !important;
}
@media (max-width: 576px) {
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}

@media (max-width: 768px) {
  .dropdown .dropdown-content {
    margin-top: 33px !important;
    width: max-content !important;
    padding: 27px;
  }
}
@media (max-width: 425px) {
  .dropdown .dropdown-content {
    margin-top: 33px !important;
    width: 23rem !important;
    padding: 27px;
    left: -3px;
  }
}
@media (max-width: 375px) {
  .dropdown .dropdown-content {
    margin-top: 33px !important;
    width: 19rem !important;
    padding: 25px;
    left: -4px;
  }
}
@media (max-width: 320px) {
  .dropdown .dropdown-content {
    margin-top: 33px !important;
    width: 17rem !important;
    padding: 11px;
    left: -9px;
  }
}
.ninetynine_x_slider .swiper-wrapper {
  padding-bottom: 130px;
}
.slide_content_box {
  width: 92%;
  left: 50%;
  transform: translateX(-50%);
  top: 85px;
}

.ninetynine_x_slider .swiper-button-prev,
.ninetynine_x_slider .swiper-button-next {
  left: 40px;
  right: auto;
  width: 66px;
  height: 66px;
  transition: 0.5s;
  background: rgba(225, 226, 238, 0.1);
  color: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
}
@media (max-width: 576px) {
  .ninetynine_x_slider .swiper-button-prev,
  .ninetynine_x_slider .swiper-button-next {
    top: auto;
    bottom: -30px;
  }
  .ninetynine_x_slider .swiper-horizontal > .swiper-pagination-bullets,
  .ninetynine_x_slider .swiper-pagination-bullets.swiper-pagination-horizontal,
  .ninetynine_x_slider .swiper-pagination-custom,
  .ninetynine_x_slider .swiper-pagination-fraction {
    text-align: center;
    left: auto;
    right: auto;
    bottom: 22px;
    z-index: -1;
  }
}
.ninetynine_x_slider .swiper-button-prev:after,
.ninetynine_x_slider .swiper-button-next:after {
  font-size: 26px !important;
}
.ninetynine_x_slider .swiper-button-prev:hover,
.ninetynine_x_slider .swiper-button-next:hover {
  background: linear-gradient(87.44deg, #4c63f1 1.94%, #7d32eb 103.28%);
}
.ninetynine_x_slider .swiper-button-next {
  left: auto;
  right: 40px !important;
}
.club_net_content {
  padding-top: 90px;
  padding-bottom: 95px;
}
.club_net_img {
  max-width: 564px;
  height: 564px;
  object-fit: contain;
  width: 100%;
  padding-right: 45px;
}

@media (max-width: 1024px) {
  .club_net_content {
    padding-top: 50px;
    text-align: center;
  }
  .club_net_img {
    margin: 0 auto;
    padding: 0;
  }
  .club_net_shap {
    background-size: contain;
    background-position: bottom left !important;
  }
}

@media (max-width: 767px) {
  .club_net_img {
    padding-top: 30px;
  }
}

@media (max-width: 576px) {
  .club_net_img {
    height: auto;
  }
  .mySwiper {
    padding-bottom: 160px !important;
  }
}

/*Benefits of minting*/
.bm_content_box {
  margin-top: -45px;
}

@media (max-width: 1280px) {
  .benefits_of_minting_area {
    padding-inline: 30px;
  }
}
@media (max-width: 480px) {
  .benefits_of_minting_area {
    padding-inline: 0px;
  }
  .mtp_wrapper {
    gap: 20px;
    flex-wrap: wrap;
  }
}
.site-logo {
  max-width: 90px;
}
.header_area.sticky .header_wrapper {
  padding: 0;
}

footer .site-logo img {
  max-width: 90px;
}
footer .site-logo {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.social_icons a {
  transition: all 0.3s ease;
}
.social_icons a:hover {
  opacity: 0.5;
}

.Header_area {
  z-index: 9999;
}
.boxed_btn {
  background: linear-gradient(87.44deg, #4c63f1 1.94%, #7d32eb 103.28%);
  border-radius: 8px;
  padding: 12px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.boxed_btn:hover {
  background: linear-gradient(87.44deg, #fff 1.94%, #fff 103.28%);
  color: #4c63f1;
}
.main_menu li a {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9e9ea6;
  transition: all 0.3s ease-in-out;
}
.main_menu li:hover a {
  color: #e1e2ee;
}
@media (max-width: 1024px) {
  .main_menu {
    padding-right: 56px;
    background: #100f11;
    box-shadow: 0px 10px 9px -10px #f7f7f721;
    z-index: 999;
    margin-top: 20px;
  }

  .main_menu li {
    margin: 0;
  }
  .main_menu li a {
    border-bottom: 1px solid #f7f7f726;
    display: block;
    padding: 20px 0;
  }
  .for_small_screen {
    margin-top: 30px;
    display: inline-block;
  }
}
